@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans- {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;

}

.div-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-nav {
    height: 85%;
}

.navHeader {
    background-color: #F5CB00;
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 60%;
    z-index: 2;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.anclas {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20rem;
    margin-right: 5rem;
    gap: 30px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.anclaNav1 {
    color: black;
    text-decoration: none;
    width: 5rem;
}

.anclaNav {
    color: black;
    text-decoration: none;

}

.section1 {
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.div-image {
    width: 50%;
    padding-top: 5%;
    margin-left: 10%;
}


.div-text {
    width: 50%;
}

.textos1 {
    margin-top: 15%;
    display: flex;
    width: 40rem;
    flex-direction: column;
    justify-content: center;
}

.titleSec1 {
    font-family: "Bebas Neue", sans-serif;
    width: 22rem;
    font-size: 6rem;
    font-weight: lighter;
    line-height: 80px;
}

.textSec1 {
    font-family: "Open Sans", sans-serif;
    font: 600;
    width: 29rem;
}

.btn-sec1 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.section-mitad {
    width: 70%;
    height: 24rem;
    position: absolute;
    top: 90%;
    left: 15%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.div-graphics {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
    gap: 100px;

}

.div-texts {
    margin-left: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-middleSec {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    line-height: 3.6rem;
    color: #F5CB00;

}

.text-middleSec {
    width: 15rem;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;

}
.btnMiddleSec {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bolder;
    text-align: start;
    cursor: pointer;
}

/*#E6E6E6*/
.section-2 {
    background-color: #F5CB00;
    height: 130vh;
}


.textsSec2 {
    margin-left: 15rem;
}

.titleSec2 {
    font-family: "Bebas Neue", sans-serif;
    width: 40rem;
    line-height: 100px;
    font-size: 7rem;
    font-weight: lighter;
    padding-top: 25rem;
}


.textSec2 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-top: 40px;
    width: 26rem;
}


.btnSec2 {
    color: #E6E6E6;
    background-color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.img-sec2 {
    position: absolute;
    left: 47rem;
    top: 100rem;
}

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textsSec3 {
    background-color: #E6E6E6;
    width: 621px;
    height: 676px;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 4px;
    box-shadow: 8px 10px 27px 0px rgba(0, 0, 0, 0.5);
}

.img-sec3 {
    height: 676px;
    box-shadow: 8px 10px 27px 0px rgba(0, 0, 0, 0.5);
}

.title-sec3 {
    font-family: "Bebas Neue", sans-serif;
    color: #F5CB00;
    font-size: 85px;
    font-weight: lighter;
    margin-top: 50px;
}

.btn-sec3 {

    color: #E6E6E6;
    background-color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.paragraph-Sec3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 24rem;
}

.div-graph01 {
    width: 34rem;
    display: flex;
    justify-content: end;
}

.img-graph-sec3 {
    margin-top: 30px;
    width: 260px;
    height: 260px;
}

.section-4 {
    background-color: black;
    height: 105vh;
    width: 100%;

}

.titleSec4 {
    font-family: "Bebas Neue", sans-serif;
    color: #F5CB00;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    padding-top: 5%;
}

.paragraph-Sec4 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    width: 31%;
    margin-top: 15px;
    margin-left: 35%;
}

.div-imageSec4 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-sec4 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    margin-left: 45%;
    cursor: pointer;
}

.section-5 {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;
}

.div-imageSec5 {
    width: 58%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img-sec5 {
    width: 790px;
    height: 620px;
    margin-left: 20%;
}

.div-textsSec5 {
    width: 42%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.titleSec5 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    font-weight: lighter;
}

.paragraph-Sec5 {
    font-family: "Open Sans", sans-serif;
    width: 23rem;
    font-weight: 500;
}

.btn-sec5 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.section-6 {
    background-color: #E6E6E6;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.div-textsSec6 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleSec6 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    font-weight: lighter;
    width: 30rem;
    line-height: 70px;
}

.paragraph-Sec6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    width: 27rem;
    margin-right: 45px;
    margin-top: 20px;
}

.btn-sec6 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 50px;
    margin-right: 20rem;
    cursor: pointer;
}

.div-imageSec6 {
    width: 55%;
}

.section-7 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.div1-sec7 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divInputs-Sec7 {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
}

.form-container {
    background-color: #000;
    padding: 60px;
    border: 3px solid #fff;
    width: 470px;
    
}

.input-box1 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.inputName {
    width: 200px;
}

.inputSurname {
    width: 200px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-box label {
    margin-bottom: 10px;
}

.input-box input,
.input-box textarea {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.input-box input:focus,
.input-box textarea:focus {
    outline: none;
    border-color: #F5CB00;
}



.textareaMessage {
    resize: none;
}

.lorem-text {
    font-size: 13px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    width: 500px;
    font-weight: 600;

}

label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.div2-sec7 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title-sec7 {
    width: 30rem;
    line-height: 70px;
    font-size: 80px;
    color: #F5CB00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}

.paragraph-Sec7 {
    width: 29rem;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}

.btn-sec7 {
    color: #fff;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

.section-8{
    width: 100%;
    height: 97vh;
    background: #F5CB00;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.title-sec8{
    text-align: center;
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    width: 10rem;
    margin-top: 3rem;
}

.paragraph-Sec8{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    width: 30rem;
    margin-top: 10px;
}

iframe{
   width: 80%;
   height: 60vh;
   margin-top: 50px;
}
.btn-sec8{

    color: #fff;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

footer {
    height: 700px;
    background-color: black;
}

footer img {
    position: relative;
    top: 5%;
    left: 3%;
    margin-bottom: 10%;
}

.div-principal-footer {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.div-principal-footer a {
    text-decoration: none;
    color: #F5CB00;
    font-weight: bold;
    font-size: 20px;
    font-weight: 600;
    
    font-family: "Open Sans", sans-serif;
}

.div1-footer,.div2-footer {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 7%;
}

footer hr {
    margin: 0px 5% 50px 3%;
}

.div3-footer {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F5CB00;
    font-size: 20px;
    font-weight:600;
    margin: 0px 5% 0px 3%;
}

.div-imagenes-footer{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.div-imagenes-footer img {
    filter: brightness(0) saturate(100%) invert(69%) sepia(99%) saturate(1201%) 
    hue-rotate(6deg) brightness(104%) contrast(102%);
}

a:hover {
    color: #ffffff;
}

@media screen and (max-width: 480px){
.logo-nav {
    margin-top: 100px;
    height: 40px;
    
}
.div-logo {
    width: 100%;
    display: flex;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
}

.navHeader {
    background-color: #F5CB00;
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.anclas {  
    gap: 30px;
    font-size: 15px;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 70px;
    margin-left: 40%;
}

.anclaNav1 {
    color: black;
    text-decoration: none;
    width: 55px;
}

.section1 {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.div-image {
    padding-top: 0px;
    margin-top: 20%;
    margin-left: 20%;
    width: 80%; 
    display: flex;
}

.img-sec1{
    width: 80%;
    height: 90%;
}



.div-text {
    width: 70%;
    margin-left: 0%;
    padding-right: 10%;
}

.textos1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleSec1 {
    font-family: "Bebas Neue", sans-serif;
    width: inherit;
    margin-left: 50%;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 60px;
    text-align: center;
}

.textSec1 {
    font-family: "Open Sans", sans-serif;
    font: 600;
    width: 100%;
    text-align: justify;
    margin-left: 50%;
}

.btn-sec1 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 20px;
    margin-left: 40%;
    cursor: pointer;
}

.section-mitad {
    width: 80%;
    height: 30rem;
    position: absolute;
    top: 90%;
    left: 10%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.title-middleSec {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    margin-top: 40px;
    font-weight: lighter;
    line-height: 3.6rem;
    color: #F5CB00;

}

.div-texts {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.div-graphics {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 10%;
    gap: 30px;
    margin-bottom: 5%;

}

.img-graph01{
    width: 100px;
}
.img-graph02{
    width: 100px;
}


.div-imgSec2{
    display: flex;
    width: 100%;
}

.text-middleSec {
    width: 15rem;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;

}

.section-2 {
    background-color: #F5CB00;
    height: 160vh;
    display: flex;
    flex-direction: column;
}


.titleSec2 {
    font-family: "Bebas Neue", sans-serif;
    width: 100%;
    line-height: 30px;
    font-size:2rem;
    font-weight: lighter;
    padding-top: 15rem;
    text-align: 0;
}

.textsSec2 {
    margin-left: 10%;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.textSec2 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 40px;
    width: 100%;
    text-align: justify;
}


.btnSec2 {
    color: #E6E6E6;
    background-color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.img-sec2 {
    position: absolute;
    width: 90%;
    height: 38%;
    left: 5%;
    top: 230%;
    border-radius: 5px;
}

.section-3 {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textsSec3 {
    background-color: #E6E6E6;
    width: 90%;
    height: 53%;
    text-align: left;
    padding-left: 5%;
    margin-left: 0%;
    margin-bottom: 4px;
    box-shadow: 8px 10px 27px 0px rgba(0, 0, 0, 0.5);
}

.img-sec3 {
    height: 500px;
    width: 90%;
    margin-left: 6%;
    box-shadow: 8px 10px 27px 0px rgba(0, 0, 0, 0.5);
}

.title-sec3 {
    font-family: "Bebas Neue", sans-serif;
    color: #F5CB00;
    width: 100%;
    font-size: 70px;
    font-weight: lighter;
    margin-top: 50px;
}

.btn-sec3 {

    color: #E6E6E6;
    background-color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 80%;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    margin-left: 10%;
    cursor: pointer;
}

.paragraph-Sec3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    width: 300px;
    text-align: justify;
}

.div-graph01 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-graph-sec3 {
    margin-top: 30px;
    width: 60%;
    height: 90%;
}

.section-4 {
    background-color: black;
    height: 110vh;
    width: 100%;

}

.titleSec4 {
    font-family: "Bebas Neue", sans-serif;
    color: #F5CB00;
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    padding-top: 5%;
}

.paragraph-Sec4 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    text-align: justify;
    line-height: 1.5;
}

.div-imageSec4 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.img-sec4{
    width: 90%;
    height: 270px;
}

.btn-sec4 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 40px;
    margin-left: 30%;
    cursor: pointer;
}


.section-5 {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column-reverse;
}

.div-imageSec5 {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.img-sec5 {
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-bottom: 50px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.div-textsSec5 {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 20%;
    margin-bottom: 0px;
}   

.titleSec5 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    margin-top: 20%;
    line-height: 60px;
    font-weight: lighter;
}

.paragraph-Sec5 {
    font-family: "Open Sans", sans-serif;
    width: 80%;
    margin-top: 5%;
    text-align: justify;
    font-weight: 500;
}

.btn-sec5 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 7% ;
    margin-left: 10%;
    cursor: pointer;
}

.section-6 {
    background-color: #E6E6E6;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.div-textsSec6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleSec6 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    margin-top: 30px;
    text-align: center;
    font-weight: lighter;
    width: 100%;
    line-height: 70px;
}

.paragraph-Sec6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    width: 90%;
    text-align: justify;
    margin-right: 0px;
    margin-top: 20px;
}

.btn-sec6 {
    background-color: #F5CB00;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 0;
    cursor: pointer;
}

.div-imageSec6 {
    width: 100%;
}

.imgSec6{
    width: 80%;
    margin-left: 10%;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}


.section-7 {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
}


.div1-sec7 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divInputs-Sec7 {
    background-color: black;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
}

.form-container {
    background-color: #000;
    padding: 60px;
    border: none;
    width: 85%;
    
}

.input-box1 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 2%;
    gap: 20%;
}

.inputName {
    width:100%;
}

.inputSurname {     
    width:100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 15px;
}

.input-box label {
    margin-bottom: 10px;
}

.input-box input,
.input-box textarea {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.input-box input:focus,
.input-box textarea:focus {
    outline: none;
    border-color: #F5CB00;
}



.textareaMessage {
    resize: none;
}

.lorem-text {
    font-size: 13px;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin-left: 0%;
    text-align: justify;
    font-weight: 600;

}

label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.div2-sec7 {
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title-sec7 {
    width: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 55px;
    color: #F5CB00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
}

.paragraph-Sec7 {
    width: 90%;
    text-align: justify;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 5%;
    font-family: "Open Sans", sans-serif;
}

.btn-sec7 {
    color: #fff;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 50px;
    margin-left: 30%;
    cursor: pointer;
}
.section-8{
    width: 100%;
    height: 110vh;
    background: #F5CB00;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.title-sec8{
    text-align: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: lighter;
    width: 10rem;
    margin-top: 3rem;
}

.paragraph-Sec8{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    width: 80%;
    margin-top: 10px;
}

iframe{
   width: 80%;
   height: 60vh;
   margin-top: 50px;
}
.btn-sec8{

    color: #fff;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    width: 10rem;
    height: 2.5rem;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}


footer {
    height: 500px;
    background-color: black;
}


footer img {
    position: relative;
    top: 5%;
    left: 3%;
    margin-bottom: 10%;
}

.div-principal-footer {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.div-principal-footer a {
    text-decoration: none;
    color: #F5CB00;
    font-weight: bold;
    font-size: 20px;
    font-weight: 600;
    
    font-family: "Open Sans", sans-serif;
}

.div1-footer,.div2-footer {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-bottom: 7%;
}

footer hr {
    margin: 0px 5% 50px 3%;
}

.div3-footer {
    display: flex;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #F5CB00;
    font-size: 20px;
    font-weight:600;
    margin: 0px 5% 0px 3%;
}

.div-imagenes-footer{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.text-footer{
    width: 60%;
}
.logo-footer1{
    width: inherit;
    height: 50%;
}
}